@import "../App.scss";

.nav {
  display: flex;
  flex-wrap: wrap;
  max-width: $m1470;
  padding: $m1470p;
  margin: auto;
  justify-content: space-between;
  height: 0px;
  align-items: center;
  position: relative;
  top: 50px;
  ul {
    list-style: none;
    display: flex;
    gap: 30px;
    font-family: "Open Sans";
    font-size: $f16;
    font-style: normal;
    font-weight: 500;
    line-height: 120%;
    color: $cwhite;
  }

  .button {
    color: $cwhite;
    font-family: "Open Sans";
    font-size: $f16;
    font-weight: 600;
    padding: 16px 36px;
    border-radius: 100px;
    border: 1px solid $cwhite;
    transition: 0.2s;
    background: none;
    &:hover {
      background: $cwhite;
      color: $cblack;
    }
  }
}
